.container{
    margin: 10px;
    text-align: center;
}
body{
    background-color: pink;
}
header,footer{
    background-color: rgb(110, 242, 165);
    height: 30px;
    padding: 30px;
    margin-bottom: 30px;
}
aside{
    background-color: rgb(90, 163, 88);
    padding: 20px;
    height: 460px;
    width: 250px;
    margin-left: 5px;
}
article{
    background-color: rgb(236, 39, 105);
    margin-bottom: 30px;
    margin-right: 3px;
    margin-left: 7px;
    padding: 15px;
    height: 470px;
    gap: 15px;
    flex: 2px;
}
main{
    display: flex;
    gap: 20px;
}
h3{
    align-content: center;
    position:absolute
    top 200px;
}
img{
    height: 10vw; 
    width: 10vw;
}
.image-container{
    justify-content: end;
    display: flex;
    margin-top: 300px;
    gap: 5px;;
}