body{
    background-color: blue;
}
h1{
    text-align: center;
    color: greenyellow;
}
@media screen and (max-width:720px){
    body{
        background-color: orange;
    }
    h1{
        color: white;
    }
}